[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 88
py36 = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.poetry]
name = "freshchat"
packages = [
    { include = "freshchat" },
]
version = "0.1.0"
description = "A library provide a http client for Freshchat API"
authors = [
    "Twyla Engineering <software@twyla.ai>"
]
license = "Proprietary"

readme = "README.md"

repository = "https://github.com/twyla-ai/python-freshchat"

keywords = []

classifiers = []

[tool.poetry.dependencies]
python = "^3.7"
cafeteria = "^0.18.0"
aiohttp = "^3.5"
pycrypto = "^2.6"

[tool.poetry.dev-dependencies]
pre-commit = "^1.11"
flake8 = "^3.5"
coverage = "^4.5"
black = "^18.3-alpha.0"
tox = "^3.5"
pytest = "^4.1"
aioresponses = "^0.6.0"
pytest-asyncio = "^0.10.0"
